/* Josh Comeau’s custom CSS reset  */
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


:root {
    --background-color: rgb(10, 10, 10);
    --primary-color: rgb(255, 205, 41);
    --border-color: rgb(197, 197, 197);

    --font-xl: 3.5rem;
    --font-large: 2rem;
    --font-medium: 1.4rem;
    --font-normal: 1rem;
}

@media (max-width: 43.75em) {
  :root {
    --font-xl: 2.8rem;
    --font-large: 1.8rem;
    --font-medium: 1rem;
    --font-normal: 0.5rem;
  }
}

li {
    list-style-type: none;
}

svg {
  max-height: 26px;
  max-width: 26px;
  fill: white;
}

body {
    background-color: var(--background-color);
    color: white;
    font-family: "Roboto", sans-serif;
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    display: flex;
    flex-direction: column; 
    gap: 1em; 
    position: relative; 
}

header {
  position: absolute;
  width: 100vw;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}

.logo {
    cursor: pointer;
    font-size: var(--font-large);
    color: var(--primary-color);
    white-space: nowrap;
}

.tabs {
    display: flex;
    gap: 3em;
    font-size: var(--font-medium);
}

.tab {
    cursor: pointer;
    padding: 0.2em;
    
}

.tabs .active {
  background-color: var(--primary-color);
  color: black;
}

#content {
  width: 100vw;
  height: 100vh;
}

.home,
.menu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.home .text {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.home h2 {
    font-size: var(--font-large);
}

.home .description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3 {
        font-size: var(--font-large);
    }
    
    p {
        max-inline-size: 70ch;
    }
}

.home img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    filter: brightness(20%);
    z-index: -1;
}


.menu {
  padding: 5em 4em 0 4em;
  justify-content: start;
  gap: 2em;
}

.menu h3 {
  font-size: var(--font-large);
}

.menu-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 1em;
  align-items: start;
}

.menu-card {
  border: 1px solid var(--border-color);
}

.menu-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.menu-card h4 {
  font-size: var(--font-medium);
}

.menu-card .menu-card-text {
  padding: 1em;
  background-color: white;
  color: black;
  font-size: var(--font-normal);
}

/* Contact styles Start */

.contact {
  padding: 10em 4em 0 4em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  align-items: start;
}

.contact-text,
.contact-form {
  border: 1px solid var(--border-color);
  padding: 2em;
}

.contact-text {
  display: grid;
  justify-content: end;
  gap: 2em;
  font-size: var(--font-medium);
}

.contact-text h2 {
  font-size: var(--font-xl);
}

.contact-info div {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.contact-text .text-info {
  
  font-size: var(--font-medium);
}

.contact-form form {
  display: grid;
  gap: 1em;
  padding: 0.5em;
}

.contact-form form input,
textarea {
  width: 100%;
  padding: 0.3em;
}

.name-inputs {
  display: flex;
  gap: 2em;
}

.contact-form button {
  background-color: var(--primary-color);
  font-weight: 700;
  width: 50%;
  padding: 0.8em 0;
  
  border: none;
  border-radius: 6px;
  
  cursor: pointer;
}

label {
  display: block;
}

textarea {
  padding-bottom: 2em;
}






